.ipynb_checkpoints
*/.ipynb_checkpoints/*

profile_default/
ipython_config.py
__pycache__
.idea

session.cookie
.session.cookie
check.py
alt.py
.env
queries.logvenv
queries.log
venv

puzzle.md
input

.directory
